<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <ol>
    {{each(i,user) users}}
      <li>
        <div style="font-weight: bold;">${user.name} (${user.username})</div>
        <div>${user.email}</div>
        <div>${user.phone}</div>
      </li>
    {{/each}}
  </ol>
  <form method="post" action="/addusers">
    <div>Add a user on each line in the format:</div>
    <div>Name | Nickname | Phone | ??? | Email</div>
    <label for="users">Users</label>
    <div>
      <textarea id="users" name="users" rows="20" cols="100"></textarea>
    </div>
    <input type="submit" name="op" value="Create users" />
  </form>
  <form method="post" action="/deleteusers">
    <input type="submit" name="op" value="Delete users" />
  </form>
</body>
</html>